*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align:left;
    margin: 10px;
    padding: 10px;
    color:black;
}
h2{
    text-align:left;
    margin: 10px;
    padding: 10px;
    color:black;
}
h3{
    text-align:left;
    margin: 10px;
    padding: 10px;
    color:black; 
}
p{
    text-align:left;
    margin: 20px;
    padding: 10px;
    color:rgb(247, 243, 243);
    text-size-adjust:initial;
}
.lista1{
    text-align:left;
    margin: 10px;
    color:black; 
    padding: 10px;
}
.card1{
    display: inline-block;
    background-color: #EDA0A8;
    width: 500px;
    margin: 10px;    
    padding: 10px;
}
.card__title{
    text-align: center;
}
.card__img{
    width: 100%;
    align-items:center;
}
.body__img{
    width: 1900px;
}
.navbar{
    display: flex;
    flex-wrap:nowrap;
    width: auto;
    height: fit-content;
    background-color: #f0d2cc;
    align-items: center;
    justify-content:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    background-size: 100vw;
}
.navbar div{
    margin: 10px;
    text-align: left;
    flex-basis: 100%;
}
@media (max-width: 400px){
    .navbar{
        flex-direction: column;
    }
    .navbar div{
        flex-basis: 100%;
    } 
}
.indexpage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #EDA0A8;
    height: 800px;
    padding: 10px;
    margin: 10px;
}
@media(max-width: 568px){
    .indexpage2{
        flex-direction: row;
        width: 80%;
    }
}
.perfil1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.login1{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 200px;
    text-align: left;
    background-color: #EDA0A8;
    margin: 10px;
    padding: 20px; 
}
@media(max-width: 768px){
    .login1{
        flex-direction: column;
        width: 45%;
    }
@media(max-width: 568px){
    .login1{
        flex-direction: column;
        width: 90%;
    }
}
}
.cursos1{
   display: flex;
   text-align: left;
   margin: 10px;
   padding: 10px;
   background-color: #EDA0A8
}
.cursos2{
   display: flex;
   text-align: left;
   margin: 10px;
   padding: 20px;
   background-color: #EDA0A8
}
.cursos3{
    background-size: 100vw 100vh;
    background-attachment: local;
    text-align: left;
    margin: 10px;
    padding: 10px;
    background-image:url(../img/moodboard5.jpg)
}   
.form1{
    display: flex;
    width: 500px;
    padding: 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.425);
}
.cursospage{
    display: flex;
}
@media(max-width:768px){
    .cursospage{
        flex-direction: column;
    }
    .cursos1{
        flex-basis: 100%;
    }
    .cursos2{
        flex-basis: 100%;
    }
    .cursos3{
        flex-basis: 100%;
    }
}
.clasespage{
    display: flex;
    margin: 0px;
    padding: 20px;  
    background-color: #EDA0A8
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: #EDA0A8
}